<div class="row liquidity">
  <div class="col-12 col-sm-4">
    <div class="icon">
      <img src="/assets/images/unicrypt_logo.png"/>
    </div>
    <h3>
      UniCrypt 
    </h3>
    <h4 class="lock">(25%) Locked</h4>
    <p>
      Within the first 24 hours, we had dropped 25% of our liquidity into Uniswap, we then locked 100% of this liquidity for 2 years to keep you safe!
    </p>
    <a href="https://unicrypt.network/amm/uni/pair/0x722Dd485d02057a110eE94184172886D01Eb020e" target="_blank" class="btn btn-block btn-outline-info">CHECK LOCK</a>
  </div>
  <div class="col-12 col-sm-4">
    <div class="icon">
      <img src="/assets/images/teamfinance_logo.png"/>
    </div>
    <h3>
      Team.Finance
    </h3>
    <h4 class="lock">(25%) Locked</h4>
    <p>
      We locked away 25% of our total liquidity in Team.Finance under a 7 day timer set to be released on 02/04/2021.<br/>
    </p>
    <a href="https://team.finance/view-coin/0x6c2E5dFA3392DeBe43D8B2cB49B085CD1fDb3fCC?name=WOOF.finance&symbol=WOOF!" target="_blank" class="btn btn-block btn-outline-info">CHECK LOCK</a>
  </div>
  <div class="col-12 col-sm-4">
    <div class="icon">
      <img src="/assets/images/teamfinance_logo.png"/>
    </div>
    <h3>
      Team.Finance
    </h3>
    <h4 class="lock">(50%) Locked</h4>
    <p>
      We locked away 50% of our total liquidity in Team.Finance under a 30 day timer set to be released on 26/04/2021<br/>

    </p>
    <a href="https://team.finance/view-coin/0x6c2E5dFA3392DeBe43D8B2cB49B085CD1fDb3fCC?name=WOOF.finance&symbol=WOOF!" target="_blank" class="btn btn-block btn-outline-info">CHECK LOCK</a>
  </div>
</div>
