
<div class="row home-header">

  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation">
    <a  [routerLink]="['/']" class=" navbar-brand">
      <img class="logo" src="/assets/images/woof-logo-v2.svg" width="100px" height="100px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" ></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nft/']">NFT's</a>
        </li>
        <li class="nav-item">
          <a href="#donations" class="nav-link w-nav-link">Donations</a>
        </li>
        <li class="nav-item">
          <a href="#theteam" class="nav-link w-nav-link">The Team</a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </nav>
  <!--<div class="col-12 col-sm-5">
    <ul class="tickers">
    <li style="padding: 0px;margin: 3px 0px 0px 10px;">

      </li>
    </ul>
  </div>-->
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="row footer">
  <div class="col">
    <img class="logo" src="/assets/images/woof-logo-v2.svg"/>
  </div>
  <div class="col">
    <h3>Explore</h3>
    <a [routerLink]="['/nft']" class="text-block-19">NFTs</a>
    <a [routerLink]="['/donations']" class="text-block-19">Charities</a>
    <a href="#tokenomics" class="text-block-19">Tokenomics</a>
  </div>
  <div class="col">
    <h3>Tech Info</h3>
    <a target="_blank" href="https://etherscan.io/address/0x6c2E5dFA3392DeBe43D8B2cB49B085CD1fDb3fCC" class="">
      Etherscan
    </a>
    <a href="https://www.dextools.io/app/uniswap/pair-explorer/0x722dd485d02057a110ee94184172886d01eb020e" class="">
      Dextools
    </a>
    <a href="https://ethplorer.io/address/0x6c2e5dfa3392debe43d8b2cb49b085cd1fdb3fcc" class="">
      Ethplorer
    </a>
  </div>
  <div class="col social">
    <h3>Social</h3>
    <a target="_blank" href="https://www.reddit.com/r/wooffinance/" class="link-block-2 w-inline-block"><i class="fab fa-reddit-alien"></i></a>
    <a target="_blank" href="https://t.me/wooffinance" class="link-block-2 w-inline-block"><i class="fab fa-telegram-plane"></i></a>
    <a target="_blank" href="https://twitter.com/wooffinance" class="link-block-2 w-inline-block"><i class="fab fa-twitter"></i></a>
  </div>
</div>
<div class="row footer minifoot">
  <div class="col">
    <p>Copyright 2021 - Woof.finance - All Rights Reserved</p>
  </div>
</div>
