<div class="charity-drive-recipients" id="donations">
  <div class="body-container">
    <div class="main-charity-holder">
      <div class="tokenmoics-header">
        <div class="div-block-17 row">
          <div class="col-0 col-md-2"></div>

          <div class="col-3">
            <div class="charities-progress-container">
              <div class="charity-holder">
                <div class="charity-main-header"><img src="/assets/images/woof-banner-small.png" loading="lazy" width="188" alt=""></div>
              </div>
              <div class="charity-holder-footer">
                <div class="text-block-8">Coming soon..</div>
                <div class="text-block-9">Total NFTs Sold</div>
                <div class="text-block-10">0/? NFTs</div>
                <div class="text-block-9">Total Eth Donated</div>
                <div class="text-block-10">0/?? ETH</div>
                <div class="text-block-11">$?,??.??</div>
                <div class="text-block-12">DONATION TO</div>
                <div class="text-block-13">Coming soon.</div>
                <a href="#" target="_blank" class="btn btn-primary btn-etherscan btn-block">View Etherscan</a>
                <a [routerLink]="['/nft']" class="btn btn-primary btn-block">View NFTs</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="charities-progress-container">
              <div class="charity-holder">
                <div class="charity-main-header"><img src="/assets/images/harleyshounds/HarleysHounds.png" loading="lazy" width="188" alt=""></div>
              </div>
              <div class="charity-holder-footer">
                <div class="text-block-8">HarleysHounds.org</div>
                <div class="text-block-9">Total NFTs Sold</div>
                <div class="text-block-10">0/1 NFTs</div>
                <div class="text-block-9">Total Eth Donated</div>
                <div class="text-block-10">1.7/8.17 ETH</div>
                <div class="text-block-11">$2,774.10</div>
                <div class="text-block-12">DONATION TO</div>
                <div class="text-block-13">Harleys Hounds Animal Rescue.</div>
                <a href="https://etherscan.io/tx/0x79bb3e14a9dafaa2c0fe0a451cde72ff9ed22a0ba209c3971ce9d4377df83d47" target="_blank" class="btn btn-primary btn-etherscan btn-block">View Etherscan</a>
                <a [routerLink]="['/nft']" class="btn btn-primary btn-block">View NFTs</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
