
<div class="charity-drive-recipients">
  <div class="body-container">
    <div class="main-charity-holder">
      <div class="tokenmoics-header">
        <div class="text-block-3 tokenomics-centre" style="background:#fff;padding:15px;">Charities we are working with</div>
        <div class="text-block-5 tokenomics-centre" style="background:#fff;padding:15px;">Purchase NFTs from any of the charities below to donate to your chosen <span class="text-span">WOOF</span></div>
        <div class="div-block-17">
          <div class="charities-progress-container">
            <div class="charity-holder">
              <div class="charity-main-header"><img src="/assets/images/harleyshounds/HarleysHounds.png" loading="lazy" width="188" alt=""></div>
            </div>
            <div class="charity-holder-footer">
              <div class="text-block-8">HarleysHounds.org</div>
              <div class="text-block-9">Total NFTs Sold</div>
              <div class="text-block-10">0/1 NFTs</div>
              <div class="text-block-9">Total Eth Donated</div>
              <div class="text-block-10">0 ETH</div>
              <div class="text-block-11">$0,000</div>
              <div class="text-block-12">DONATION TO</div>
              <div class="text-block-13">Harleys Hounds Animal Rescue.</div>
              <a [routerLink]="['/nft']" class="btn btn-primary btn-block">View NFTs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
