@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
  background: #fff  top center repeat-y;
  height: 100%;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  position:relative;
  margin-top: 350px;
}


.home-header{
  margin:0 auto;
  max-width:100%;
}
.home-header a{
  text-underline: none;
}
.announcement-bar{
  background: #2aaaae;
}
a{
  text-decoration: none!important;

}

body {position:relative}

html { height:100%!important; background:#fff  url(/assets/images/bg-pattern.png) top center repeat-y;}

body {
  background: url(/assets/images/head-nfts.png) top center no-repeat;
  margin: 0; font-family: "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.nav-menu a:hover{
  color:#ffffff;
}
img.qrcode{
  width: 100%;
}
.mat-button{
  background:#ff533f;
  color:#fff;
}
.mat-button:hover{
  background: #e74b3a;
  color:#fff;
}
.alert-info{
  color: #ffffff;
  background-color: #ff890e61;
  font-weight: 100;
  border-color: #e64b39;
}
.alert-info p{
}
.btn-primary{
  border-color: #ef8a21;
  background:#ff890d;
}
.btn-primary:hover{
  background:#ff6c28;
  border-color: #ef8a21;
}
.tickers li{
  list-style-type: none;
  list-style: none;
  float: left;
  /* width: 100%; */
  padding: 5px;
  height:45px;

}
.tickers{
  padding:0px;
  margin-top:30px;
  height:40px;
}
.tickers li.black{
  background: #2b2c2d;
  color:#fff;
}
.tickers span{
  float: left;
  clear: both;
  font-size: 1em;
  opacity: .4;
}
.tickers label{
  float:left;
  margin-bottom:0px;
  clear:both;

}
.logo{
  max-width: 105px;
  margin: 0;
}
nav{
  
  width: 100%;
  
  
  
}
.nav-link{
  display: block;
  float: left;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: bold;
  font-size: 12pt;
}
.nav-menu a:hover{
  color:#ff533f!important;
}

.footer .col a{
  width:100%;
  float:left;
  color:#333333;
  margin-bottom:10px;
  font-weight:bold;
}
.footer .social a{
  width:auto;
  margin-right:15px;
  font-size: 1.4rem;
}
.footer .col h3{
  font-weight:bold;
  color: #c3c3c3;
}
.footer{
  padding-top:40px;
  border-top:1px solid rgb(241, 241, 241);
  max-width:1280px;
  margin:40px auto;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background:#ff6c28;
  border-color: #ef8a21;
}
/*.telegram-social{
  margin-right: 15px;
  background: #333;
  padding: 10px 10px 15px 7px;
  border-radius: 31px;
}
.twitter-social{
  margin-right: 15px;
  background: #ffffff;
  padding: 11px 7px 15px 11px;
  border-radius: 31px;
}
.reddit-social{
  margin-right: 15px;
  background: #ffffff;
  padding: 11px 8px 15px 10px;
  border-radius: 31px;
}*/
p{
  font-weight:bold;
}


.charity-drive-recipients {
  padding-top: 60px;
}


.main-charity-holder {
  width:100%;
  display: block;
}

.tokenmoics-header {
  margin-bottom: 20px;
}
.text-block-3 {
  font-family: Raleway, sans-serif;
  color: #212121;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
}

.text-block-3.tokenomics-centre {
  text-align: center;
}

.text-block-5 {
  font-family: Raleway, sans-serif;
  color: #cfa745;
  font-weight: 400;
}

.text-block-5.tokenomics-centre {
  color: #e29f72;
  text-align: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.charities-progress-container {
  overflow: hidden;
  width: 300px;

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 60px 80px #bda799;
  margin:0 0 0 25%;
  bottom: 0px;

}

z
.charity-main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 260px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}
.charity-holder-footer {
  padding: 40px;
}

.shelters {margin-top: 200px;}

.text-block-8 {
  margin-bottom: 10px;
  color: #cfa745;
  font-size: 14px;
  font-weight: 400;
}

.text-block-9 {
  color: #ff890d;
  font-size: 12px;
  font-weight: normal;
}

.text-block-10 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.text-block-11 {
  margin-top: 5px;
  color: #a8a8a8;
  font-weight: 600;
}

.text-block-12 {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #f5f5f5;
  color: #cfcfcf;
  font-size: 10px;
  font-weight: 600;
}

.text-block-13 {
  font-weight: 600;
}
.charity-main-header img{
  width:100%;
}
/*h2{
  font-family: 'Nanum Myeongjo', serif!important;
}*/
.buy-woof-top{
  background:  rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(0, 0, 0, 0.2)!important;
  color: #FF025E!important;
  margin-top: -2px;
  padding: .7rem 3rem!important;
  font-weight: 500;
}

.buy-woof-top:hover{background: rgb(37, 37, 37);}

.alert-info p{
  font-size: 12pt;
}

/*FAQ*/
.mat-expansion-panel {box-shadow: none!important;}
.mat-expansion-panel-header {}
.mat-expansion-panel-header-title { font-weight: 500; font-size: 1.2rem; padding: 1rem 0!important;}
.mat-expansion-panel-header-description {}

.btn {padding: 1em;}
.unibtn {display: block; clear: both; float:none; width: 200px; margin-top:2em; background: #FF025E; border: none;}
.tickers{
  float:right;
}

#don {margin-top: 120px;}


/*Announcements*/
.announcements {margin-bottom: 2rem; }
.announcements h3 {color: #FF025E; font-weight: 500; text-transform: uppercase; letter-spacing: 2px;}
.announcements p {font-size: 1.1em!important; font-style: italic; }


/*Navbar styles*/
.navbar {position: fixed;}
.navbar-dark .navbar-toggler {background: none; border: none; color:#e7e7e7!important; font-size: 2rem; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);}
.navbar-dark .navbar-nav .nav-link {color: #000;}
.navbar-collapse.collapsing, .navbar-collapse.show {background: rgba(255, 255, 255, 0.5); border-radius: 10px; padding:1rem; box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.); backdrop-filter: blur(5px);}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {color: #ff6c28;}
.navbar-text {margin: 0;}
.navbar-text .unibtn {margin: 0; display: block;}
.navbar-dark .navbar-toggler-icon {  color:red!important; }

/*Liquidity*/
#liquidity {margin-top: 150px;}
.liquidity h4 {color: #ff890d; margin-top:-1rem;}
.liquidity p {font-size:1.1rem; line-height: 1.7rem;}
.liquidity .btn-block {border:none!important;font-weight: 700;}

/*Tokenomics*/
.tokenomics img {width: 100px; display: block; margin: 2rem auto;}
.tokenomics label{font-size: 1.2rem;font-weight: bold; margin-bottom: 20px; line-height: 1.2em;}
/*.tokenomics p { font-weight: 100!important; font-size: 1.2rem!important;}*/


/*Team*/
#theteam {margin-top: 150px;}

/*Links*/
.tools-icons a {display:inline-block;color: #000!important; font-size: 1.5rem; padding:1rem;}
.tools-icons a:hover {color: #ff533f!important;}

/*Footer*/

.minifoot {text-align: center; padding-top:1rem;}
.minifoot p {font-weight: normal; display: inline-block; margin-top: 1rem; opacity: .6; text-align: center;}

/*---------Responsive stuff*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.container {margin-top: 450px;}
body{background-size: 300%;}
.nav-link {padding: 0.5rem!important;}
.charities-progress-container {position: relative; margin: 0; bottom:0; left: 5%;}

h2 {font-size: 2rem!important ;font-weight: bolder;line-height: 2.5rem!important;}
h4 {margin-bottom: 0!important;}

.mat-expansion-panel-header {padding: 2rem 1rem 2rem 0rem!important;}

.profile-card__img{width: 400px!important; height: 400px!important;}
.profile-card__cnt {margin-top: -240px!important; padding-bottom: 240px; transition: all 0.3s;}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
