<div class="row">
  

  <div class="col-12 col-sm">

    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="/assets/images/1.png" alt="profile card">
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">Onip4t</div>
        <div class="profile-card__txt">Fearless Leader - Design<strong></strong></div>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm">

    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="/assets/images/2.png" alt="profile card">
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">Kuzman</div>
        <div class="profile-card__txt">Community Lead<strong></strong></div>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm">

    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="/assets/images/3.png" alt="profile card">
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">Mikasa</div>
        <div class="profile-card__txt">PR Overlord<strong></strong></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm">

  <div class=" profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="/assets/images/4.png" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">Simon</div>
      <div class="profile-card__txt">Crazy Coder <strong></strong></div>
    </div>
  </div>
  
</div>

<div class="col-12 col-sm">

  <div class=" profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="/assets/images/5.png" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">Pietro Merlo</div>
      <div class="profile-card__txt">Charity Commander<strong></strong></div>
    </div>
  </div>
  
</div>
