<div class="row">
  <div class="col">
    <h4>SAVING ANIMALS</h4>
    <h2>one $WOOF at a time.</h2>
    <p>
      For every token purchased 1% goes directly into a charity wallet. By buying $WOOF token, you're donating directly to dogs in need.<br/><br/>
      Your support helps millions of dogs who are without loving families or homes, your support provides the food, shelter and care for our fluffy friends.
    </p>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary">BUY $WOOF</button>
      </div>
      <div class="col">
        <ul class="tools-icons">
          <li><a href="https://t.me/wooffinance" class="telegram-social"><img src="assets/images/telegram.png" loading="lazy" width="25" alt="" class="image-5"></a></li>
          <li>
            <a href="https://twitter.com/wooffinance" class="twitter-social"><img src="assets/images/twitter.png" loading="lazy" width="25" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" srcset="assets/images/twitter.png 500w, assets/images/twitter.png 512w" alt="" class="image twitter"></a>
          </li>
          <li><a href="https://www.reddit.com/r/wooffinance/" class="reddit-social"><img src="assets/images/reddit.png" loading="lazy" width="25" alt="" class="image-4"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div style="margin-top: 165px;">
      <app-list  [show]="false"></app-list>
    </div>
  </div>
</div>
<div class="row" style="    margin-top: 100px;">
  <div class="col">
    <img src="/assets/images/home-banner-2.png"/>
  </div>
  <div class="col" style="margin-top:50px;">
    <h4>WE HELP REAL SHELTERS</h4>
    <h2>lets $WOOF together.</h2>
    <p>
      Together we can help and support more $WOOFs than ever. 100% of EVERY NFT sale and donation to the charity wallet is donated to your specified charity or to one of the charities we support
    </p>
    <p>
      Every transaction, buy, sell, transfer sends 1% to the charity wallet, you donate just by making a transaction.
    </p>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary">BUY $WOOF</button>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 140px;" id="tokenomics">
  <div class="col-12" style="text-align:center;">
    <h4>EASY AND CLEAR</h4><br/>
    <h2>Tokenomics</h2>
  </div>
</div>
<div class="row tokenomics" style="text-align:center">
  <div class="col">
    <img src="/assets/images/tokenomics-icon.png"/><br/>
    <label>1% Burned</label><br/>
    <p>1% of every transaction is burned, this deflationary nature provides more value to the coins you buy and hold.</p>
  </div>
  <div class="col">
    <img src="/assets/images/tokenomics-icon.png"/><br/>
    <label>1% to Holders</label><br/>
    <p>1% of every transaction goes right into your pocket, all you have to do is hold $WOOF coin and earn instant rewards.</p>
  </div>
  <div class="col">
    <img src="/assets/images/tokenomics-icon.png"/><br/>
    <label>1% to Charity</label><br/>
    <p>1% of every transaction goes straight into the charity wallet, you buying and selling $WOOF provides more donations than ever before!</p>
  </div>
</div>
<div class="row tokenomics" style="text-align:center">
  <div class="col">
    <img src="/assets/images/tokenomics-icon.png"/><br/>
    <label>1 Trillion Token Supply</label><br/>
    <p>We've minted 1 Trillion tokens and that's it. No more tokens will be minted in the future but ALOT of $WOOFs will be helped!</p>
  </div>
  <div class="col">
    <img src="/assets/images/tokenomics-icon.png"/><br/>
    <label>100% Liquidity Locked</label><br/>
    <p>On launch we locked 100% of the liquidity into Uniswap, no preholders, no team percentages. This is a charity for dogs, not for humans.</p>
  </div>
</div>
<div class="row" style="    margin-top: 140px;">
  <div class="col">
    <img src="/assets/images/home-banner-2.png"/>
  </div>
  <div class="col" style="margin-top:50px;">
    <h4>You have questions? We have answers</h4>
    <h2>Frequently Asked Questions.</h2>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What is $WOOF and how does it work?
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>$WOOF is an ERC20 Cryptocurrency that donates 1% of every transaction to provide care and well being to dogs around the world.</p>

        <p>We create NFTs that are backed by real dogs in animal shelters that are in dire need of care and support. We sell the NFT's and send 100% of the donation straight to the animal you chose to.</p>
        <p>In return you get a unique one of a kind NFT backed by a real dog in need. Upon purchase you will receive your NFT and we will make arrangements to donate the funds to the animal shelter housing your NFT pet, we will also provide proof of donations for everyone to see.</p>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do I see donations and who chooses the charities?
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

       <p>When we make donations to the animal shelters, we will provide full proof of donation for everyone to view on our website and other social media.
         We're proud to be a part of this cause, and will proudly show our/your contributions for everyone to admire.</p>
        <p>At current, our team chooses the charities we donate too. Due to NFT's and Cryptocurrency being relatively new to most people, it's generally quite difficult arranging new charities onboard but we will endeavour to add as many charities as we can.<br/>
        We will be adding a section to allow users to vote for their own charities in the coming future.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I help donate?
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

       <p>Theirs plenty of ways for you to donate and help support the care and wellbeing of dogs and the charities we're currently supporting.</p>
        <p>1) Donation Charity Wallet: 0x51F42fC7F883e7e69B76dEc1564841FeA5d096c3</p>
        <p>2) Donation Team Wallet <small>Our team works extremely hard for no salary so donations really help!</small>: 0x89cD6e435852d7B2bfD11676308A37AA68C7506F</p>
        <p>3) Purchase a Unique NFT: <a [routerLink]="['/nft/']">View our range of NFTs</a></p>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-block">BUY $WOOF</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="div-block-3 home-header">
  <div class="container">
    <div class="row">
        <div class="col">
          <div data-w-id="5344d337-2585-cbd9-bd73-d7d4f939ab54" style="opacity:1" class="text-container">
            <div class="text-block-4">Buy NFT's and donate</div>
            <div class="text-block-3">The price of each NFT sold goes directly to the care of the <span class="text-span">WOOF</span> you choose! </div>
            <p class="paragraph">$WOOF provides passive income to every holder, the more you hold the more you donate and earn!<br></p>
            <div class="div-block-6">
              <a [routerLink]="['/nft/']" target="_blank" class="button-div " style="float:left;">
                <div class="div-block-woof">
                  <i class="fa fa-person"></i>
                  <div class="text-block-2">Get $WOOFNFT <small>coming soon</small></div>
                </div>
              </a>
              <a href="https://app.uniswap.org/#/swap?inputCurrency=0x93b2fff814fcaeffb01406e80b4ecd89ca6a021b" target="_blank" class="button-div" style="float:left;margin-bottom:10px;">
                <div class="div-block"><img src="assets/images/Uniswap-Icon.png" loading="lazy" width="31" alt="">
                  <div class="text-block-2">Get $WOOF</div>
                </div>
              </a>
              <div class="div-block-7" style="float:left;width:100%;text-align:left;justify-content:left;">
                <a href="https://www.dextools.io/app/uniswap/pair-explorer/0x1acba73121d5f63d8ea40bdc64edb594bd88ed09" class="link-block-header-mini w-inline-block"><img src="assets/images/DEX.png" loading="lazy" width="25" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" srcset="assets/images/DEX.png 500w, assets/images/DEX.png 512w" alt="" class="image"></a>
                <a href="https://t.me/grumpyfinance" class="link-block-header-mini telegram-coloue w-inline-block"><img src="assets/images/telegram.png" loading="lazy" width="25" alt="" class="image-5"></a>
                <a href="https://www.reddit.com/r/grumpyfinance/" class="link-block-header-mini reddit w-inline-block"><img src="assets/images/reddit.png" loading="lazy" width="25" alt="" class="image-4"></a>
              </div>
            </div>
          </div>
        </div>
      <div class="col feature-points">
        <div class="row ">
            <label>Total Supply</label>
            <span *ngIf="supply$ | async as data;">
               {{ data['result'] }}
            </span>
          </div>
          <div class="row">
            <label>Charity Donations</label>
            <span *ngIf="charity$ | async as data">
               {{ data['result']  }}
            </span>
          </div>
          <div class="row">
            <label>Tokens Burnt</label>
            <span *ngIf="burned$ | async as data">
              {{ data['result'] }}
            </span>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="charity-drive-recipients" id="grumpy-charity">
  <div class="body-container">
    <div class="main-charity-holder">
      <div class="tokenmoics-header">
        <div class="text-block-5 tokenomics-centre">CHARITY DRIVES</div>
        <div class="text-block-3 tokenomics-centre">We Already Helped<span class="text-span"></span></div>
        <div class="div-block-17">
          <div class="charities-progress-container">
            <div class="charity-holder">
              <div class="charity-main-header"><img src="assets/images/harleyshounds/HarleysHounds.png" loading="lazy" width="188" alt=""></div>
            </div>
            <div class="charity-holder-footer">
              <div class="text-block-8">HarleysHounds.org</div>
              <div class="text-block-9">Total NFTs Sold</div>
              <div class="text-block-10">0/15 NFTs</div>
              <div class="text-block-9">Total Eth Donated</div>
              <div class="text-block-10">0 ETH</div>
              <div class="text-block-11">$0,000</div>
              <div class="text-block-12">DONATION TO</div>
              <div class="text-block-13">Harleys Hounds Animal Rescue.</div>
              <a [routerLink]="['/nfts/harleyshounds']" class="btn btn-primary btn-block">View NFTs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-section"  id="about-grumpy">
  <div class="container-features">
    <div class="a-container">
      <div class="features-holder">
        <div id="w-node-dbd37b24-3f3b-e2d7-95fa-3c90c092ec52-640ce933" data-w-id="dbd37b24-3f3b-e2d7-95fa-3c90c092ec52" style="opacity:1" class="ind-feature">
          <div class="div-block-2"><img src="assets/images/No-Fees.png" loading="lazy" width="53" alt=""></div>
          <div>
            <div class="rich-text-block w-richtext">
              <h4>No Fees.</h4>
              <p>No paying high gas fees to collect rewards.</p>
            </div>
          </div>
        </div>
        <div id="w-node-ba4fc513-42ac-f68d-4d16-5a05eb8e91e9-640ce933" data-w-id="ba4fc513-42ac-f68d-4d16-5a05eb8e91e9" style="opacity:1" class="ind-feature">
          <div>
            <div class="div-block-2"><img src="assets/images/Rewards.png" loading="lazy" width="65" alt=""></div>
            <div class="rich-text-block w-richtext">
              <h4>Get Rewards.</h4>
              <p>Rewards are automatically deposited to wallets.</p>
            </div>
          </div>
        </div>
        <div id="w-node-_6be45909-ec1c-cb14-87c1-4ba21ce0e465-640ce933" data-w-id="6be45909-ec1c-cb14-87c1-4ba21ce0e465" style="opacity:1" class="ind-feature">
          <div>
            <div class="div-block-2"><img src="assets/images/Charity-2.png" loading="lazy" width="86" alt=""></div>
            <div class="rich-text-block w-richtext">
              <h4>It&#x27;s for Charity!</h4>
              <p>First token to feature a charity wallet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="body-container">
    <div data-w-id="1c2b81ad-80d9-edca-3d6b-5e03582f0127" style="opacity:1" class="text-container body-mod">
      <div class="text-block-5">WE ARE GRUMPY! NO, REALLY.</div>
      <div class="text-block-3">A community helping animals <br>who need it most.<span class="text-span"></span></div>
      <p class="paragraph">We are very active in our community and strive to develop trust by being transparent in our mission and our goals. <br><br>We are focused on continually making successful efforts for all of our community members as well as the world by giving back. <br><br>All members are free to join us in our weekly Telegram chats where we will discuss charity drives, suggestions to help strengthen the community and share any new information about $GRUMPY. <span class="text-span-2">It&#x27;s Awful.</span><br><br>So, what are you waiting for?  Come join our community, earn passive income while helping others in need and remember, it’s okay to BE GRUMPY:  Buy <strong>$GRUMPY</strong>, Earn <strong>$GRUMPY</strong>, Give <strong>$GRUMPY!</strong><br></p>
    </div><img src="assets/images/Mega-Cat.png" loading="lazy" width="499" sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, 499px" srcset="assets/images/Mega-Cat.png 500w, assets/images/Mega-Cat.png 800w, assets/images/Mega-Cat.png 890w" alt="" class="image-9">
  </div>
  </div>
</div>

<div class="how-section">
  <div class="container">
    <div class="body-container">
      <div data-w-id="2f929e8d-dcfe-a95e-dfae-b04f31f783c8" style="opacity:1" class="text-container how-mod">
        <div class="text-block-5">WE ARE GRUMPY! NO, REALLY.</div>
        <div class="text-block-3">How does it work?<span class="text-span"></span></div>
        <p class="paragraph">We are very active in our community and strive to develop trust by being transparent in our mission and our goals. <br><br>We are focused on continually making successful efforts for all of our community members as well as the world by giving back. <br><br>All members are free to join us in our weekly Telegram chats where we will discuss charity drives, suggestions to help strengthen the community and share any new information about $GRUMPY. <span class="text-span-2">It&#x27;s Awful.<br>‍</span><br>So, what are you waiting for?  Come join our community, earn passive income while helping others in need and remember, it’s okay to BE GRUMPY:  Buy <strong>$GRUMPY</strong>, Earn <strong>$GRUMPY</strong>, Give <strong>$GRUMPY!</strong><br></p>
      </div>
      <div class="body-all-over"></div>
    </div>
  </div>
</div>

<div class="tokenmoics-section">
  <div class="body-container tokenmoics-vertical-mod">
    <div class="tokenmoics-header">
      <div class="text-block-5 tokenomics-centre">ALL THE DETAILS ON</div>
      <div>
        <div class="text-block-3">Tokenomics<span class="text-span"></span></div>
      </div>
    </div>
    <div class="tokenmoics-body">
      <div><img src="assets/images/digitcat.png" loading="lazy" width="402" sizes="(max-width: 479px) 80vw, 34vw" srcset="assets/images/digitcat.png 500w, assets/images/digitcat.png 613w" alt=""></div>
      <div id="w-node-d5cd358a-c228-0ed0-d67e-a92156cf4c08-04211ce5" class="tokenmoics-divider"></div>
      <div id="w-node-_67775e3c-64ac-d84a-dc10-594c28a51c2b-04211ce5">
        <div class="rich-text-block-3 w-richtext">
          <h5>Original Supply</h5>
          <p>1000 Billion</p>
          <h5>Circulating Supply</h5>
          <p>450 Billion</p>
          <h5>Earn</h5>
          <p>1% distributed to holders every transaction</p>
          <h5>Circulating Supply</h5>
          <p>1% every transaction to help rascals</p>
          <p>‍</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="roadmap" id="grumpy-roadmap">

  <div class="grumpy-divider">
    <div class="div-block-8"><img src="assets/images/woof-logo.png" style="max-height: 130px;max-width:140px" loading="lazy" width="147" data-w-id="8c74eae1-b4ad-a638-1214-13bbe6d3f560" srcset="assets/images/woof-logo.png 129w, assets/images/woof-logo.png 129w" sizes="(max-width: 479px) 129w" alt=""></div>
  </div>
  <div class="container">
  <div class="road-map-container">
    <div>
      <div class="text-block-6">WE ARE GONNA BE BUSY. WE HATE IT.</div>
      <h1 class="heading">ROAD MAP</h1>
    </div>
    <div>
      <div class="div-block-9"><img src="assets/images/Grumpy-Roadmap.png" loading="lazy" width="66" id="w-node-ad3c26f9-4dbf-e8e2-19f6-17c66e57e3ef-640ce933" alt="" class="image-3">
        <div id="w-node-d19703f3-95ee-9b70-0ddb-dd48909e1578-640ce933"></div>
        <div id="w-node-_92f0de25-e063-f5bd-8e66-aa0a9828dbe2-640ce933">
          <div data-w-id="7f7d9871-6ebd-b626-0ca8-9ab30278e1aa" style="opacity:1" class="rich-text-block-2 w-richtext">
            <h3>March 2021</h3>
            <p>- New Website Completed</p>
            <p>- Community Growth</p>
            <p>- Marketing Frenzy</p>
          </div>
        </div>
        <div id="w-node-_44d78f12-a970-7c86-5414-0a145c754ec8-640ce933">
          <div data-w-id="44d78f12-a970-7c86-5414-0a145c754ec9" style="opacity:1" class="rich-text-block-2 left-set w-richtext">
            <h3>April 2021</h3>
            <p>- Partnership Announcement</p>
            <p>- GRUMPY staking w/ charity distribution</p>
          </div>
        </div>
        <div id="w-node-_6b95ef2d-3b3f-0d7a-3a7f-acfc7c929dff-640ce933">
          <div data-w-id="6b95ef2d-3b3f-0d7a-3a7f-acfc7c929e00" style="opacity:1" class="rich-text-block-2 w-richtext">
            <h3>May 2021</h3>
            <p>- GRUMPY Charity Portal</p>
            <p>- BSC bridge</p>
          </div>
        </div>
        <div id="w-node-_1b95ef2d-3b3f-0d7a-3a7f-acfc7c929dff-640ce933">
          <div data-w-id="6b95ef2d-3b3f-0d7a-3a7f-acfc7c929e00" style="opacity:1" class="rich-text-block-2 w-richtext-align-center w-richtext">
            <h3>Q3 and beyond</h3>
            <p>— This is a new project and is 100% community owned. We will continue to grow and expand together, and will continue to update the roadmap as the community steers it along.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="faq-section">
  <div class="body-container tokenmoics-vertical-mod">
    <div class="tokenmoics-header">
      <div class="text-block-5 tokenomics-centre">WE&#x27;VE GOT ANSWERS</div>
      <div>
        <div class="text-block-3">Who Are We<span class="text-span"></span></div>
      </div>
    </div>
    <div class="faq-general">
      <div class="faq-left">
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Who are we?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We are GRUMPY CAT , a crypto based community helping animals who need it the most. Our mission is to show the world another case of use for Cryptocurrencies , and we’re  just getting started!</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Do we have any Marketing push/department? </div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">Yes! Our team is working hard to push $GRUMPY on socials and we are in talks with the exchanges to bring visibility to the project. If you have any idea to share with us, feel free to join our Telegram or Discord and tell us about it!</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">What is Grumpy Finance?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">A: $GRUMPY is fair distribution token born on the ERC Network . No IDO, Private Sale, nothing.<br>The best and only way tokens should be released so everyone has the same access.</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Can I buy on BSC / Coinbase? </div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We are not currently listed in Coinbase, and $Grumpy Cat token is based on the Ethereum Blockchain at the moment. Any BSC version of $Grumpy you find is not related to us in any way. As you can check on the roadmap, a BSC bridge will be made down the road. <br><br>Unfortunately, some people are creating “GRUMP” tokens on the BSC exchange and they have NOTHING to do with us. Beware of Scams, we are not con Pancakeswap.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-right">
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How does $GRUMPY work?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">1. Buy on Uniswap (CLICK HERE)    <br>2. HODL $GRUMPY and earn passive income.     <br>3. As people will buy and sell $GRUMPY and with each transaction, a 1% fee is charged in $GRUMPY. <br><br>The $GRUMPY fee is re-distributed to all existing $GRUMPY hodlers instantly and automatically, directly to their wallets!<br><br>There are no fees to hodlers for the distribution, just HODL, sit back and watch your holdings grow</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Too late to join the party? </div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">Absolutely not, it’s never to late to join the GRUMPY Community. We are only just started and we have big plans to become the world’s first sustainable Charitable Cryptocurrency.</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How does $GRUMPY give back?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">GRUMPY has a plan! <br><br>The plan has three main pillars:<br>1. Transparency – the community members will always know what GRUMPY has in the works. The community itself will have a voice in what GRUMPY does next. This is a community owned project and the community decides how GRUMPY lives life. <br><br>2. Community – “All for one and one for all” Become a GRUMP and stay a GRUMP. Community will always decide on charities GRUMPY donates to, comment on roadmaps, and have a true impact on the project’s future.<br>‍<br>3. Donations – To facilitate donations a separate wallet will be created. The community can track the wallet. Donations to the wallet will grow and receive the same 1% passive income until GRUMPY distributes the funds to the charity of choice. GRUMPY aims to donate to an animal shelter or helping facility at least once every month.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-section">
  <div class="body-container tokenmoics-vertical-mod">
    <div class="tokenmoics-header">
      <div class="text-block-5 tokenomics-centre">WE&#x27;VE GOT ANSWERS</div>
      <div>
        <div class="text-block-3">General &amp; Technical Questions<span class="text-span"></span></div>
      </div>
    </div>
    <div class="faq-general">
      <div class="faq-left">
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">What is the best wallet to support Uniswap and hold $Grumpy?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We suggest Metamask, WalletConnect , Trustwallet or Coinbase Wallet</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How do I buy ETH?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">You can buy Ethereum directly on Metamask or any wallet provider and also on any centralized Crypto Exchange, and then send it to your Crypto Wallet connected with Uniswap using your ERC address<br></div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">ETHEREUM GAS FEES – how much do I spend?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">Unfortunately, Ethereum Gas Fees are what they are at the moment but this is not something that will last forever.  The gas feeds do however vary substantially over a 24 hour period. <br><br>You can see Eth gas station <a href="https://ethgasstation.info/">LINK HERE</a> -  to check the 24/7 heat map which tells at what time of the day the gas prices are at the most minimal</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">When was the $Grumpy token born </div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">$Grumpy was created in early February 2021, but sadly the project was abandoned by its developer soon after that for personal reasons. On the 13th of March 2021 however, a community effort was made to adopt and revitalize the project. We started from scratch finding help from volunteers coming by!</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Where can I find the $GRUMPY Charity Page or check the donations?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">You can find more info on our $GRUMPY Charity Cause here: (!!Charity Webpage Missing!!) (remove it if not sorted out)<br><br>Our $GRUMPY Donation Wallet to help shelters in need is the following address:  <a href="https://etherscan.io/address/0xb6ed7676764dce60315a894fba4bef280f513b56">https://etherscan.io/address/0xb6ed7676764dce60315a894fba4bef280f513b56</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-right">
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How do I know grumpy made the donation as promised?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">GRUMPS can track the ETH address accumulating donations and passive income. It’s always nice to track an account knowing you donated, so please donate and track. Once the donation period is closed, GRUMPY will post about it ahead of time. The Team will complete necessary donation forms for the selected charity, make the donation and post proof for the everyone  to see. Where possible, we’ll work with the charity to further confirm, acknowledge and post confirmation on their social media channels.</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">What is $GRUMPY’s Market Cap?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">No, the token supply is fixed and part of it is locked into liquidity. There will be no minting and no burning</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">Where are the $GRUMPY Telegram/Discord admins?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We’ve experienced substantial growth over the past few days and are short of a few helping hands. If you got the time and will, you could volunteer and help the project!</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How much slippage do I need to use on UniSwap?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We would advise anywhere between 3% and 6%. Try to use round numbers of $Grumpy without decimals when buying and selling</div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How do I trade, do I buy now or wait for the dip?</div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">We do not offer any trading advice whatsoever and categorically do not endorse anything to do with trading. It’s the complete anthetithis of what this community represents. If you are ONLY  looking for a quick buck, unfortunately this isn’t the community for you. </div>
            </div>
          </div>
        </div>
        <div class="faq-holder">
          <div class="div-block-18">
            <div class="div-block-20">
              <div class="text-block-15">Q:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-17">How do I stay up to date on $GRUMPY. </div>
            </div>
          </div>
          <div class="div-block-18">
            <div class="div-block-21">
              <div class="text-block-15 answer-mod">A:</div>
            </div>
            <div class="div-block-19">
              <div class="text-block-16">Follow us and join us on our social media and groups to know all the latest news about us! We are looking forward to having you!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
