<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="card-title">SANDY</div>
      </div>
      <div class="card-body">
        Shiela's dog got hit by a car and she can't afford the surgery. it costs XXXXX.
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">Vote</div>
          <div class="col">Price: $3000</div>
          <div class="col">In Progress</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>
